body{
  background-color: #0f132a;
}
.App{
  width: 60%;
  margin: auto !important;
}
.connectwallet1{
  position: relative;
 
}
.connectwallet1{
  position: absolute;
  right: 100px;
  top: 50px;
}
@media (max-width: 991px) {
.App{
  width: 100%;
  margin: auto !important;
  
}
.connectwallet1{
  position: relative;
  right: 20px;
  top: 0px;
}
  }